/* Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
    background-color:hsl(216, 12%, 8%) ;
}
ul{
    list-style: none;
}
p{
    line-height: 1.6;
}
.main_container, .thank-you{
    background-color:hsl(213, 19%, 18%);
    padding: 1rem;
    width: 375px;
    border-radius: 1rem;
}
.hidden1{
    display: none;
}
.main_container img{
    background-color:hsl(213, 19%, 22%);
    padding: 0.625rem;
    border-radius: 50%;
}
.main_container h1{
    color: #fff;
    padding: 2rem 0 1rem;
    font-weight: 700;
}
.main_container p{
    color:hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}
.main_container ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.main_container ul button{
    background-color: hsl(213, 19%, 22%);
   color:hsl(217, 12%, 63%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.main_container ul button:hover{
    background-color: hsl(25, 97%, 53%);
    color:hsl(216, 12%, 8%) ;
}
.main_container ul button:focus{
    background-color:hsl(217, 12%, 63%) ;
    color: hsl(216, 12%, 8%);
}
.btn-submit{
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    padding: 0.8rem 0 0.6rem;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 2rem;
    cursor: pointer;
}
.btn-submit:hover{
    background-color: #fff;
    transition: 0.3s;
}
.thank-you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.thank-you img{
    margin: 1rem 0 2rem;
}
.thank-you p.gray{
    background-color:hsl(213, 19%, 22%);
    color:hsl(25, 97%, 53%);
    padding: 0.25rem 1rem;
    border-radius: 30px;
    margin-bottom: 1.5rem;
}
.thank-you h2{
    color: #fff;
    margin-bottom: 1.5rem;
}
.thank-you p{
    color:hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}
.hidden{
    display: none;
}
